.wrapper {
	background-color: var(--secondary-color);
	border: var(--border);
	border-radius: var(--border-radius);
	padding: 7px;
	font-size: 8px;

	.input {
		width: 100%;
	}

	input[type='range'] {
		accent-color: var(--highlight-dark-color);
		height: 3px;
		margin-bottom: 8px;
	}

	.labels {
		display: flex;
		justify-content: space-between;
	}
}
