.inputField {
	border-radius: var(--border-radius);
	background: var(--primary-color);
	outline: none;
	border: var(--border);
	padding: 5px 10px;
	width: 100%;
}

.inputField::-webkit-inner-spin-button {
	display: none;
}

.inputField:hover {
}

.inputField:focus,
.inputField:active {
	border-color: var(--light-color);
}
