.wrapper {
	display: flex;
	flex-direction: column;
	gap: var(--main-gap);
}

.pointsWrapper {
	display: flex;
	gap: var(--main-gap);
}

.button {
	background: linear-gradient(
		to right,
		var(--highlight-dark-color),
		var(--highlight-light-color)
	);
	min-height: var(--buttons-height);
	border-radius: var(--border-radius);
	padding: 5px 15px;
	width: 100%;
}
